{% extends 'shop/main.html' %} {% block content %}{% load static %}

<link rel="stylesheet" href="{% static 'css/signup-mods.css' %}">
<div class="cont-r mar-100">
    <div class="log-cont" id="log-cont">
        <hr>
        <!-- Login form -->
        <form class="login-form" id="login-form" method="POST">
            <!-- CSRF token for security -->
            {% csrf_token %}
            <!-- Shop information section -->
            <h2>Sign Up</h2>
            <!-- Credentials section -->
            <div class="credentials">
                <!-- Displaying non-field errors, if any -->
                <div class="errors">
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                </div>
                {% if form.non_field_errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Render the form fields -->
                {{ form }}

                <!-- Submit button -->
                <br>
                <input type="submit" value="Sign Up" class="btn-sub" />
                <!-- Sign in link -->
                <div class="signup-link">
                    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
                </div>
            </div>
            <span id="copyright">Copyright© DEGROCERY 2024. All Rights Reserved.</span>
        </form>
    </div>
</div>
{% endblock %}