{% extends 'shop/main.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/signup-b.css' %}">
<link rel="stylesheet" href="{% static 'css/signup-mods.css' %}">
<div class="cont-r mar-100">
    <div class="log-cont" id="login-cont">
        <hr>
        <!-- Login form -->
        <form class="login-form" id="login-form" method="POST">
            <!-- CSRF token for security -->
            {% csrf_token %}
            <!-- Shop information section -->
            <h2>Sign Up</h2>
            <!-- Credentials section -->
            <div class="credentials">
                <!-- Displaying non-field errors, if any -->
                <div class="errors">
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                </div>
                {% if form.non_field_errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Business sign-up form -->
                {% for field in business_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="helptext">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                    <div class="field-error">
                        {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <!-- Customer sign-up form -->
                {% for field in customer_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="helptext">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                    <div class="field-error">
                        {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <br>
                <!-- Submit button -->
                <input type="submit" value="Sign Up" class="btn-sub" id="submit-btn" />
                <br>
                <br>
                <span id="error-indicator" style="color:red; font-size: 16px;"></span>
                <!-- Sign in link -->
                <div class="signup-link">
                    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
                </div>
            </div>
            <span id="copyright">Copyright© DEGROCERY 2024. All Rights Reserved.</span>
        </form>
    </div>
</div>
<script>
    var form = document.getElementById("login-form");
    var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
    var submitBtn = document.querySelector("#submit-btn")
    form.addEventListener("submit", function (e) {
        submitBtn.style = `
        pointer-events: none;
        cursor:wait;
        background-color:black;
        color:white;
        `
        e.preventDefault();
        submitData();
    });

    function submitData() {
        var url = "/auth/signup-b/";

        var Data = {
            business_name: form.business_name.value,
            username: form.username.value,
            first_name: form.first_name.value,
            last_name: form.last_name.value,
            email: form.email.value,
            password1: form.password1.value,
            password2: form.password2.value,
        };

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({ form: Data })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log("Business was created.");
                    var cont = document.getElementById("login-cont");
                    cont.innerHTML = `
                    <small class="message">The account was successfully created but you need to activate it within 24 hours or it will be deleted, please check your email.</small>
                    <hr>
                    <h3 style="display:block;text-align:center;"> Do you want to add products now?</h3>
                    <div class="after-btns">
                        <button class="btn-after"><a href="/auth/add-products/" style="text-decoration:none;color:black;">Yes, Add Products</a></button>
                        <button class="btn-after"><a href="/shop/" style="text-decoration:none;color:black;">No, I'll do it later.</a></button>
                    </div>
                `;
                } else {
                    console.log("Errors occurred.");
                    submitBtn.style = `
                        pointer-events: all;
                        cursor:pointer;
                        background-color:white;
                        color:black;
                        `
                    // Clear previous errors
                    var errorElements = document.querySelectorAll('.field-error');
                    var errorIndicator = document.querySelector('#error-indicator');
                    errorElements.forEach(function (element) {
                        element.remove();
                    });
                    // Handle errors and update the form
                    errorIndicator.innerText = "Please check the fields above for errors"
                    Object.keys(data.errors).forEach(function (field) {
                        var fieldElement = form.querySelector(`[name=${field}]`);
                        if (fieldElement) {
                            var errorDiv = document.createElement('div');
                            errorDiv.className = 'field-error';
                            data.errors[field].forEach(function (error) {
                                var errorSpan = document.createElement('span');
                                errorSpan.className = 'error';
                                errorSpan.innerText = error;
                                errorSpan.style = `
                                    color:red;
                                    font-size:16px;
                                `;
                                errorDiv.appendChild(errorSpan);
                            });
                            fieldElement.parentNode.appendChild(errorDiv);
                        }
                    });
                }
            });
    }
</script>
{% endblock %}