.DS_Store
.vscode
tests/__pycache__
authentication/migrations/__pycache__
shop/migrations/__pycache__
shop/__pycache__
authentication/__pycache__
#home/migrations
home/__pycache__
shoppie/__pycache__
#db.sqlite3

