asgiref
asttokens
attrs
certifi
cffi
charset-normalizer
colorama
coverage
crispy-bootstrap4
decorator
Django
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-paypal
djangorestframework
executing
factory-boy
Faker
git-filter-repo
h11
httplib2
idna
inflection
iniconfig
ipython
jedi
matplotlib-inline
mysqlclient
oauth2
outcome
packaging
parso
pillow
pluggy
prompt-toolkit
psycopg2
pure-eval
pycparser
Pygments
pyparsing
PySocks
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-dateutil
python-magic
pytz
requests
selenium
six
sniffio
sortedcontainers
sqlparse
stack-data
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
wsproto