{% extends 'shop/main.html' %} {% block content %}{% load static %}
<!--================ navigation ===============-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <!-- Container for the entire page content -->
    <div class="container">
        <div class="navigation">
          <ul>
            <li>
                <a href="">
                     <span class="icon"><ion-icon name="logo-skype"></ion-icon></span>
                    <span class="title">Shoppie</span>
                </a>
            </li>
            <li>
                <a href="">
                     <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
              <li>
                 <a href="">
                      <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                     <span class="title">Business</span>
                 </a>
             </li>
             <li>
                  <a href="">
                     <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
                     <span class="title">Customer</span>
                 </a>
             </li>
              <li>
                  <a href="">
                     <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                     <span class="title">Profiles</span>
                 </a>
             </li>
              <li>
                  <a href="">
                     <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                     <span class="title">Groups</span>
                 </a>
              </li>
              <li>
                 <a href="">
                     <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                     <span class="title">Users</span>
                 </a>
             </li>
              <li>
                 <a href="">
                     <span class="icon"><ion-icon name="folder-open-outline"></ion-icon></span>
                     <span class="title">Category</span>
                 </a>
             </li>
            <li>
                  <a href="">
                     <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                     <span class="title">Order items</span>
                  </a>
             </li>
             <li>
                  <a href="">
                     <span class="icon"><ion-icon name="bag-handle-outline"></ion-icon></span>
                     <span class="title">Orders</span>
                 </a>
             </li>
            <li>
                  <a href="">
                      <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
                      <span class="title">Products</span>
                 </a>
             </li>
            <li>
                 <a href="">
                     <span class="icon"><ion-icon name="pin-outline"></ion-icon></span>
                    <span class="title">Shipping Address</span>
                 </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><ion-icon name="document-lock-outline"></ion-icon></span>
                   <span class="title">Password</span>
                </a>
           </li>
            <li>
                <a href="{% url 'logout' %}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                   <span class="title">Sign out</span>
                </a>
           </li>
          </ul>
        </div>
        </div>
    </div>

    <div class="adminpage">
        <div class="topbar">
            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
            <div class="user">
                <img src="{% static 'images/user1.jpeg' %}" alt="">

            </div>
        </div>
    </div>

    <!--================scripts=================-->
    <script src="{% static 'js/adminpage.js' %}"></script>
    <!--=========ionicons=======-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

{%endblock%}
