@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins";
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


.logo {
    font-size:30px;
    font-weight: 700;
    color:black;
    text-decoration: none;
}
#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:10px 50px;
    background-color: #E3E6F3;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    z-index:1000;
    position:sticky;
    top:0;
    right:0;
    left:0;
}
#navbar {
    display:flex;
    align-items:center;
    justify-content: center;
}
#navbar li {
    list-style:none;
    padding:0 20px;
    position: relative;
}

#navbar li a {
    text-decoration:none;
    font-size:16px;
    font-weight:600 ;
    color: #1a1a1a;
    transition: 0.3s all ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after ,#navbar li a:hover::after {
    content:"";
    width:30%;
    height: 20%;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
    border-radius:5px;
}

#banner {
    height:90vh;
    width:100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding:0 80px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
#banner h4 {
    padding-bottom: 15px;
}
#banner h1 {
    color: #088178;
}
#banner button {
    background-color:transparent;
    color: #088178;
    border:none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700;
    font-size:15px;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width:180px;
    text-align:center;
    padding:25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.1);
    border: 1px solid #cce7d0;
    border-radius: 4px ;
    margin:15px 0;
}
#feature .fe-box h6 {
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius:4px;
    color:#088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#categories {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width:100%;
}
#categories a {
    text-decoration: none;
}
#categories a button {
    padding:5px 10px;
    border:none;
    background-color: #cdd4f8;
    color:#088178;
    font-size:17px;
    font-weight: 600;
    cursor:pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.09);
    border-radius:5px;
    transition:0.3s all ease;
}
#categories a button:hover {
    background-color: #1a1a1a;
    color:white;
}
.category-title {
    text-align:center;
    font-size:30px;
    margin:20px 0px;
}
#products {
    text-align:center;
}

#products .pro-container {
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:15px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition:0.3s all  ease;
}
#products .pro-container:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    transform:scale(1.05);
}
#products .thumbnail {
    width: 100%;
    height: 250px;
    border-radius:10px;
    object-fit: cover;
}
#products a,
#products button {
    cursor: pointer;
}
#products .pro-container{
    text-align:start;
    padding:10px 10px;
    position:relative;
}
#products .pro-container span {
    color:#606063;
    font-size:15px;
}
#products .pro-container .des h5 {
    padding-top:7px;
    font-size:22px;
    color:#1a1a1a;
}
#products .pro-container .pro .h {
    font-size:17px;
    color:rgb(243, 181, 25);
}
#products .pro-container .pro .b {
    font-size:17px;
    color: #222;
}
#products .pro-container .pro h4 {
    font-size:20px;
    font-weight: 700;
    color:#088178;
}
#products .pro-container button {
    border:none;
    background: none;
}
#products .pro-container .add-cart {
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: 1px solid rgba(128, 128, 128, 0.589);
}
#products .pro-container .view-btn button {
    background-color: #e8f6ea;
    color:#088178;
    border:1px solid rgba(128, 128, 128, 0.589);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-weight: 500;
    border-radius:5px;
    padding:5px 7px;
}

#products .pro-container .btns {
    position: absolute;
    bottom:20px;
    right:10px;
}

#products {
    display:grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap:50px;
    padding-top:20px;
    
}