#product {
    display:flex;
    flex-direction: row;
    gap:50px;
    border: 1px solid #b3b1b1;
    border-radius: 7px;
    height:fit-content;
    margin:50px 20px;
    padding:20px;
}

.product-image img {
    /* width: 450px; */
    height: 450px;
    object-fit: cover;
    border-radius:7px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}
#product .details {
    display:flex;
    flex-direction: column;
    width:100%;
    gap:5px;
}
#product .details h4 {
    padding: 40px 0 20px 0;
    font-size:2rem;
}
#product .details h2 {
    font-size: 2.5rem;
    font-weight: 600;   
}
#product .details h6 {
    font-size:1.5rem;
}
#product .details select {
    display:block;
    padding:5px 10px;
    margin-bottom:10px;
    width: 20%;
}
.stb-link,
.cart-btn {
    display:block;
    padding:10px 15px;
    background-color: #fff;
    color: black;
    font-size: 15px;
    text-align:center;
    border:1px solid #3F6C51;
    cursor:pointer;
    transition: all 0.3s ease;
    width:fit-content;
    border-radius: 7px;
}
.stb-link {
    text-decoration: none;
    margin:10px 0 0 10px;
}
.buttons {
    display:flex;
    gap:10px;
    flex-direction: row;
}
.a {
    background-color: #3F6C51;
    color:white;
    border:none;
}
.r {
    background-color: #ff4d4d;
    color:white;
    border:none;
}
#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3F6C51;
    color: #fff;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.chat-box {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}
#close-chat{
    position: absolute;
    top: 5px;
    right: 25px;
    padding:2px 10px;
    font-size:20px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #3F6C51;
    cursor: pointer;
}
.chat-header {
    font-weight: bold;
}

.chat-messages {
    height: fit-content;
    max-height: 290px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
#chat-form button{
    border:none;
    background-color: #3F6C51;
    color:white;
    padding:5px 7px;
    border-radius: 5px;
    margin-top:10px;
}
.chat-input {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline:none;
}