#token div {
    display: flex;
    flex-direction: row;
    gap:0px;
    width:100%;
}
#token div input {
    padding:7px 10px;
    border:1px solid rgba(0,0,0,0.1);
    flex:3;
    outline:none;
}
#token div button {
    border:none;
    color:#000;
    flex:1;
    cursor:pointer;
}