{% extends 'shop/main.html' %} {% load static %} {% block content %}
      <div class="section-p1">
            <a class="btn btn-outline-dark" href="{% url 'shop' %}"
        >&#x2190; Continue Shopping</a>
        </div>
      <br>
      <br>
      <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>IMAGE</td>
                    <td>PRODUCT</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>SUBTOTAL</td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><img class="product-img" src="{{ item.product.imageurl }}" alt=""></td>
                    <td>{{ item.product.name }}</td>
                    <td>Shs.{{ item.product.price|floatformat:0 }}</td>
                    <td class="qnty">{{ item.quantity }}
                        <div class="quantity">
                            <img
                              class="chg-quantity update-cart"
                              data-action="add"
                              data-product="{{ item.product.id }}"
                              src="{% static  'images/up-arrow.png' %}"
                            />
                            <img
                              class="chg-quantity update-cart"
                              data-action="remove"
                              data-product="{{ item.product.id }}"
                              src="{% static  'images/down-arrow.png' %}"
                            />
                          </div>
                    </td>
                    <td>{{ item.get_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </section>
      <section class="section-p1" id="cart-details">
        <div id="subtotal">
            <h3>Cart Total</h3>
            <h5>Items: <strong>{{ order.get_cart_items }}</strong></h5>
            <h5>Total: <strong>Shs.{{ order.get_cart_total }}</strong></h5>
        </div>
        <a class="btn btn-success"
        href="{% url 'checkout' %}"
        >Checkout</a>
      </section>
            
{% endblock content %}
