{% extends 'shop/main.html' %}
{% block content %}'
{% load static  %}
<div class="banner">
    <span class="text">
        <small>MEN'S</small>
        <small>FOOTWEAR</small>
        <small>SHOES</small>
    </span>
    <img src="{% static 'images/banner.jpg' %}" alt="the banner">
    <a href="#"><button class="banner-btn">BUY!</button></a>
    <span class="offer">
        <small>50%</small>
        <small>OFF</small>
    </span>
</div>
<div class="row">
        {% for product in products %}
                <div class="col-lg-4">
                        <img class="thumbnail" src="{{ product.imageurl }}" alt="product image">
                        <div class="box-element product">
                                <h6><strong>{{ product.name }}</strong></h6>
                                <hr>
                                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                <a href="#" class="btn btn-outline-success ">View</a>
                                <h4 style="float:right;">{{ product.price|floatformat:2 }}</h4>
                        </div>
                </div>
        {% endfor %}
</div>
{% endblock %}