{% extends 'shop/main.html' %}
{% block content %}
{% load static  %}
        <section id="products" class="section-p1 mar-100">
            {% for product in products %}
            <div class="pro-container">
                <div class="pro">
                    <img class="thumbnail" src="{{ product.imageurl }}" alt="product image">
                    <div class="des">
                        <span>{{ product.category }}</span>
                        <h5>{{ product.name }}</h5>
                    </div>
                    <div class="star">
                        {% if product.rating > 0.0 %}
                            {% for rating in range %}
                                {% if product.rating > rating %}
                                    <i class="fas fa-star h"></i>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <i class="fas fa-star b"></i>
                        {% endif %}
                    </div>
                    <h4>{{ product.price|floatformat:0 }}</h4>
                </div>
                <div class="btns">
                    <button href="#" class="update-cart" data-product="{{ product.id }}" data-action="add" type="button" ><i class="fal fa-shopping-cart add-cart"></i></button>
                    <a href="{% url 'view-product' product.id %}" class="view-btn"><button>View</button></a>
                </div>
            </div>
            {% endfor %}
        </section>
        <footer >
            <div class="footer">
                <div class="col">
                    <span class="logo">SHOPPIE</span>
                    <h4>Contacts</h4>
                    <p><strong>Address</strong>: Makerere Hill, SHOPPIE TOWERS</p>
                    <p><strong>Phone</strong>: +256 759534787, +256 708503025</p>
                    <p><strong>Hours</strong>: 24hrs-7days</p>
                </div>
                <div class="col">
                    <h4>About</h4>
                    <a href="#">Terms and conditions</a>
                    <a href="#">Offers</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Report a Bug</a>
                </div>
                <div class="col">
                    <h4>My Account</h4>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="#">Sign In</a>
                    <a href="{% url 'cart' %}">My Cart</a>
                    <a href="{% url 'checkout' %}">Checkout</a>
                </div>
                <div class="col">
                    <h4>Newsletter</h4>
                    <input type="text" placeholder="Your email" class="email" name="email-news">
                    <a href="#"><button>Send Mail</button></a>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright© SHOPPIE 2024. All Right Reserved.</p>
            </div>
        </footer>
        
{% endblock %}
